<!-- <ion-grid> -->
    <ion-row padding>
        <ion-col size='12' text-center class="ion-padding-vertical">
          <div class="logo">
              Logo
          </div>
        </ion-col>
        <ion-col size="12" text-center class="ion-padding-vertical">
          <div class="image-container">
            <img src="http:://www.placehold.it/500x500" alt="">
          </div>
        </ion-col>

        <!-- Buttons -->
        <ion-col size="12">
            <ion-button expand="block">
              <ion-icon name="logo-facebook"></ion-icon>
              <ion-label>Facebook</ion-label>
            </ion-button>
        </ion-col>
        <ion-col size="12">
            <ion-button expand="block" color="primary" [routerLink]="['login']" >Sign In</ion-button>
        </ion-col>
        <ion-col size="12">
            <ion-button fill="outline" expand="block"  [routerLink]="['signUp']">Sign Up</ion-button>
        </ion-col>
      </ion-row>
<!-- </ion-grid> -->
